.App {
  text-align: center;
}

.App-header {
  background-color: #5c3977;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header button {
  border: none;
  padding: 0.5em 2ch;
  cursor: pointer;
  user-select: none;

  font-size: 1.5em;
  font-weight: bold;
  background-color: white;
  color: #472b68;

  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

.App-header button:hover {
  background-color: #ee5430;
  color: white;
}

.App-header button:active {
  background-color: #472b68;
  color: #5c3977;
}

.App-header button:disabled {
  background-color: #ccc4d5;
}
